@model CatsAndDogs_project.Models.Accessories

@{
    ViewData["Title"] = "Details";
}

<h1> אקססוריז </h1>
<h2> כאן תוכלו למצוא מגוון רחב של אביזרים ואקססוריז שיתמכו בחיית המחמד שלכם</h2>
<div class="card col-3" style="width: 18rem; position:inherit">
    <div class="card-body">
        <div class="details">
            <h5 class="card-title-name">שם המוצר:   @Html.DisplayFor(model => model.Name)</h5>
            <div class="feture">
                <h5 class="card-title">מתאים ל: </h5>
            </div>
            <span>@Html.DisplayFor(modle => modle.Type)</span> 
            <div class="feture">
                <h5 class="card-title">תיאור: </h5>
            </div>
            <span>@Html.DisplayFor(modle => modle.Description)</span>
            <div class="feture">
                <h5 class="card-title">מומלץ ל: </h5>
            </div>
            <span>@Html.DisplayFor(modle => modle.Recommendation)</span>
            <div class="feture">
                <h5 class="card-title">מחיר: </h5>
            </div>
            <span>@Html.DisplayFor(modle => modle.Price)</span>
        </div>
        <div class="img">
            <img src=@Html.DisplayFor(model => model.Image) class="card-img">
            <div class="options">
                <a asp-action="Edit" asp-route-id="@Model.Id"><i class='far fa-edit'></i></a>
                <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>


            </div>
        </div>
    </div>


    <div>

        <h2 class="findProduct">   לקניית המוצר אנא בקרו באחד הסניפים שלנו: </h2>

        <div class="buttolocation">
            <a asp-action="Location" asp-controller="Home" class="storeslist"> לרשימת כל הסניפים שלנו </a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/css/details_forstrore.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
}
