@model IEnumerable<CatsAndDogs_project.Models.Accessories>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/index_forstore1.css" />
</head>

<h1>אקססוריז</h1>

@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
{
    <p>
        <a class="create_btn" asp-action="Create">הוספת אקססוריז חדש</a>
    </p>

}

<button style='font-size:24px'>לסל הקניות <i class='fas fa-cart-arrow-down'></i></button>

<form asp-action="Search" class="search">
   
    <div class="search1">

        <input name="query" placeholder="הקלד מילת חיפוש" autocomplete="off" />
        <input id="sub_search" type="submit" value="חיפוש" />

    </div>


    @*<div class="search1">
        <input name="animal" id="type" placeholder="הקלד את סוג החיה (כלב/חתול)" autocomplete="off" />
        <input name="categoryname" placeholder="הקלד את סוג הפריט הרצוי (רצועות/צעצועים)" autocomplete="off" />
    </div>
    <div class="search2">
        <input name="pricestart" placeholder="מחיר החל מ" autocomplete="off" />
        <input name="priceend" placeholder="מחיר עד" autocomplete="off" />
        <input id="sub_search" type="submit" value="חיפוש" />
    </div>*@

</form>


@*<div class="sidenav">
        <h4> קטגוריות לאקססוריז</h4>
        <hr />
        <a href="#">רצועות</a>
        <a href="#services">צעצועים</a>
    </div>*@

<div class="container">

    <div class="row">

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>

        @foreach (var item in Model)
        {
            <div class="card col-3" style="width: 18rem; position:inherit">
                <img src="@item.Image" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title"> @item.Name</h5>
                    <p class="card-text" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.Description</p>
                    <p> @Html.DisplayNameFor(model => model.Recommendation) @item.Recommendation </p>
                    <p id="price"> @Html.DisplayNameFor(model => model.Price): @item.Price ₪ </p>

                </div>
                <div class="option">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">לפרטים נוספים</a>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
                    {
                        <a class="editOption" asp-action="Edit" asp-route-id="@item.Id">עריכה</a>
                        <a class="removeOption" asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                    }
                </div>
            </div>

        }

    </div>
</div>

@section Scripts {
    <script src="~/js/search.js"> </script>
}

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <link href="~/css/index_1.css" rel="stylesheet" />
    }*@
