@model IEnumerable<CatsAndDogs_project.Models.Accessories>

@{
    ViewData["Title"] = "Index";
}

<h1>אקססוריז</h1>

<p>
    <a class="create_btn" asp-action="Create">הוספת אקססוריז חדש</a>
</p>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="card col-3" style="width: 18rem; position:inherit">
                <img src="@item.Image" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title"> @item.Name</h5>
                    <p class="card-text" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.Description</p>
                    <p> @Html.DisplayNameFor(model => model.Recommendation) @item.Recommendation </p>
                    <p id="price"> @Html.DisplayNameFor(model => model.Price): @item.Price ₪ </p>
                    
                </div>
                <div class="option">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">לפרטים נוספים</a>
                    <a class="editOption" asp-action="Edit" asp-route-id="@item.Id">עריכה</a>
                    <a class="removeOption" asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                </div>
            </div>

        }

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/css/index2.css" rel="stylesheet" />
}
