@model CatsAndDogs_project.Models.GuideCat

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="~/css/guide_details.css" rel="stylesheet" />
</head>

<img src=@Html.DisplayFor(model => model.Image) class="card-img">
<div class="titel">
    <h1>@Html.DisplayFor(model => model.BreedCat.Name)</h1>
</div>

<div class="body-guide-cat">
    <div class="description">
        <h3 class="description-title">תיאור כללי</h3>
        <p class="description-guide" style="white-space:pre-line">@Html.DisplayFor(model => model.Description)</p>
    </div>
    <div class="description">
        <h3 class="description-title">תוכנות אופי</h3>
        <p class="description-guide" style="white-space:pre-line">@Html.DisplayFor(model => model.Characteristics)</p>
    </div>
    <div class="description">
        <h3 class="description-title">מידע נוסף</h3>
        <p class="description-guide" style="white-space:pre-line"> @Html.DisplayFor(model => model.Health)</p>
    </div>
</div>

<div class="option">
    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor")) { 
        <a id="edit_btn" asp-action="Edit" asp-route-id="@Model.Id"><i class='far fa-edit'></i></a>
    }
    <a id="back-btn" asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
}
