@model IEnumerable<CatsAndDogs_project.Models.HealthCategory>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/category_index.css" rel="stylesheet" />
</head>

<h1>קטגוריות בריאות</h1>

<p class="top">
    <a class="create_btn" asp-action="Create">צור קטגוריה חדשה</a>
    <a class="create_btn" asp-action="Index" asp-controller="Healths"><i class="material-icons">keyboard_backspace</i></a>
</p>


<table class="table">
    <thead>
        <tr>
            <th style=" text-align: center">
                שם הקטגוריה
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="options">
                        <a id="edit_btn" asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i></a>
                        <a id="delete_btn" asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons">close</i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
