@model IEnumerable<CatsAndDogs_project.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/adaption_date_2.css" rel="stylesheet" />
</head>

<h1>הסניפים שלנו</h1>

@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
{
    <p>
        <a class="create_btn" asp-action="Create">הוספת סניף</a>
    </p>
}


<table class="table" style="margin-bottom: 50px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.CordX)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CordY)
                </th>
            }
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CordX)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CordY)
                    </td>
                }
                <td>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
                    {
                        <div class="options">
                            <a id="edit_btn" asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i></a>
                            <a id="delete_btn" asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons">close</i></a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<h1 style="text-align:center;"><br /><br /> מפת סניפים </h1>

<div id="myMap"></div>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AmL7oLu1IcsqMguBIRNjYrN138xH3FEbqiQEGwIKoq3ti1EaaBU4eSJ6nxgXS0gv&callback=GetMap' async defer></script>


@section Scripts {
    <script src="~/js/siteformap.js" asp-append-version="true"></script>

}



@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Discription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CordX)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CordY)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CordX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CordY)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
