@model IEnumerable<CatsAndDogs_project.Models.Cat_2>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<h1>אימוץ חתולים</h1>

@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
{
     <div class="crt-btns">
        <p>
            <a class="create_btn" asp-action="Create">הוספת חתול לאימוץ</a>
        </p>
    
        <p>
            <a class="create_btn" asp-action="index" asp-controller="BreedCat_2">גזעי חתולים</a>
        </p>
     </div>
}

<form asp-action="Search" class="search">
    <input name="queryBreed" placeholder="הקלד גזע לחיפוש..." autocomplete="off" />
    <input name="queryGander" placeholder="הקלד מין לחיפוש... (זכר/נקבה)" autocomplete="off" />
    <input id="sub_search" type="submit" value="חיפוש" />
</form>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="card col-3" style="width: 18rem; position:inherit">
                <img src="@item.Image" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title">שם החתול: @item.Name</h5>
                    <p class="card-text" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">@item.Description</p>
                    <p>
                        <h5>גזע הכלב :</h5>
                        @foreach (var b in item.BreedCatList)
                        {
                            @Html.DisplayFor(modelItem => b.Name) <label> ,</label>
                        }
                    </p>
                </div>
                <div class="option">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">לפרטים נוספים</a>
                    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
                    {
                        <a class="editOption" asp-action="Edit" asp-route-id="@item.Id">עריכה</a>
                        <a class="removeOption" asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                    }
                </div>
            </div>

        }

    </div>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <link href="~/css/index_1.css" rel="stylesheet" />
    }*@
