@model CatsAndDogs_project.Models.Articles

@{
    ViewData["Title"] = "Details";
}

<head>
    <link href="~/css/articals_details2.css" rel="stylesheet" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<h1> @Html.DisplayFor(model => model.Titel)</h1>
<div class="card col-3" style="width: 18rem; position:inherit">
    <div class="card-body">
        <div class="details">
            <div class="body-up">
                <div class="detail">
                    <span class="show">  @Html.DisplayFor(model => model.Author)</span>
                </div>

                <div class="detail">
                    <p class="catgory">קטגוריה :</p><span class="show"> @Html.DisplayFor(model => model.Category.Name)</span>
                </div>
                <div class="date">
                    <div class="detail">
                        <p class="detail-title">נוצרה בתאריך :</p>
                        <span class="detail-description">@Html.DisplayFor(model => model.CreationDate)</span>
                    </div>
                    <div class="detail">
                        <p class="detail-title">עדכון אחרון :</p>
                        <span class="detail-description">@Html.DisplayFor(model => model.LastUpDate)</span>
                    </div>
                </div>
            </div>
            <div class="body-down">
                <div class="feture">
                    <span class="summar"> @Html.DisplayFor(model => model.Summary)</span>
                </div>
                <div class="art_body" style="white-space:pre-line">
                    <span class="show"> @Html.DisplayFor(model => model.Body)</span>
                </div>

            </div>

        </div>
        <div class="img">
            <img src=@Html.DisplayFor(model => model.Img) class="card-img">
        </div>

    </div>
    <div class="options">
        @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
        {
            <a asp-action="Edit" asp-route-id="@Model.Id"><i class='far fa-edit'></i></a>
        }

        <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
    </div>
</div>

