@model IEnumerable<CatsAndDogs_project.Models.Care>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/index_forstore.css" rel="stylesheet" />
</head>

<div class="toppageCare">
    <img class="card-img" src="https://vsku.se/img/dogs/20/dog-grooming-prices-2021.jpg" />
    <div class="titel">
        <h1>טיפוח</h1>
        <p class="sub-title">אנו יודעים שחברכם על ארבע כבר מושלם, אך כאן תוכלו למצוא מגוון מוצרים שישלימו את הטיפוח </p>
    </div>
    @*<h1 class="title1"> טיפוח </h1>
        <br />
        <br />
        <h2 class="title2"> אנו יודעים שחברכם על ארבע כבר מושלם, אך כאן תוכלו למצוא מגוון מוצרים שישלימו את הטיפוח </h2>*@
</div>
@*<h1>טיפוח</h1>*@

@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
{
    <div class="crt-btns">
        <p class="topButtons">
            <a class="topB" asp-action="Create">הוספת מוצר טיפוח חדש</a>
        </p>
        <p class="topButtons">
            <a class="topB" asp-action="Index" asp-controller="CareCategories"> קטגוריות לטיפוח </a>
        </p>
        <p class="topButtons">
            <a class="topB" asp-action="Statistics">הצגת סטטיסטיקה</a>
        </p>
    </div>
}


<form asp-action="Search" class="search">

    <div class="search1">

        <input name="query" placeholder="הקלד מילת חיפוש" autocomplete="off" />
        <input id="sub_search" type="submit" value="חיפוש" />

    </div>


</form>

<div class="container">
    <div class="row">

        @foreach (var group in Model.GroupBy(a => a.Type))
        {
            <h3> סוג החיה: @group.Key</h3>
            @foreach (var category in group.GroupBy(x => x.Category))
            {
                <h4> @category.Key.Name </h4>
                foreach (var item in category)
                {
                    <div class="card col-3" style="width: 18rem; position:inherit">
                        <img src="@item.Image" class="card-img-top" alt="@item.Name">
                        <div class="card-body">
                            <h5 class="card-title"> @item.Name</h5>
                            <p class="card-text" style="overflow: hidden; margin-bottom: -19px; text-overflow: ellipsis;white-space: nowrap;">@item.Description</p>
                            <p> <h5> @Html.DisplayNameFor(model => model.Tip) </h5> @item.Tip </p>
                            <p id="price"> @Html.DisplayNameFor(model => model.Price): @item.Price ₪ </p>

                        </div>
                        <div class="option">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">לפרטים נוספים</a>
                            @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Editor"))
                            {
                                <a class="editOption" asp-action="Edit" asp-route-id="@item.Id">עריכה</a>
                                <a class="removeOption" asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                            }
                        </div>
                    </div>


                }
            }
        }

      
    </div>
</div>
