@model IEnumerable<CatsAndDogs_project.Models.Care>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@


<h1>טיפוח</h1>

<p>
    <a class="create_btn" asp-action="Create">הוספת מוצר טיפוח חדש</a>
</p>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="card col-3" style="width: 18rem; position:inherit">
                <img src="@item.Image" class="card-img-top" alt="@item.Name">
                <div class="card-body">
                    <h5 class="card-title"> @item.Name</h5>
                    <p class="card-text" style="overflow: hidden; margin-bottom: -19px; text-overflow: ellipsis;white-space: nowrap;">@item.Description</p>
                    <p> <h5> @Html.DisplayNameFor(model => model.Tip) </h5> @item.Tip </p>
                    <p id="price"> @Html.DisplayNameFor(model => model.Price): @item.Price ₪ </p>

                </div>
                <div class="option">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">לפרטים נוספים</a>
                    <a class="editOption" asp-action="Edit" asp-route-id="@item.Id">עריכה</a>
                    <a class="removeOption" asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                </div>
            </div>

        }

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/css/index2.css" rel="stylesheet" />
}
