@model CatsAndDogs_project.Models.AdoptionDays

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link href="~/css/delete_2.css" rel="stylesheet" />
</head>

<h1>מחיקת יום אימוץ</h1>
<h3>האם אתה בטוח שתרצה למחוק את יום האימוץ הנוכחי</h3>

<div class="card col-3" style="width: 18rem; position:inherit">
    <div class="card-body">
        <div class="details_adopt">
            <div class="feture">
                <h5 class="card-title"> @Html.DisplayNameFor(model => model.DateandTime):</h5><span class="span-title">@Html.DisplayFor(modle => modle.DateandTime)</span>
            </div>
            <div class="feture">
                <h5 class="card-title">@Html.DisplayNameFor(model => model.Location):</h5><span class="span-title">@Html.DisplayFor(modle => modle.Location)</span>
            </div>
            <div class="feture">
                <h5 class="card-title">@Html.DisplayNameFor(model => model.Discription):</h5><span class="span-title">@Html.DisplayFor(modle => modle.Discription)</span>
            </div>
        </div>
        <div class="img">
            <div class="options">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input id="delete_btn" type="submit" value="מחיקה" class="btn btn-danger" />
                    <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
                </form>
            </div>
        </div>
    </div>
</div>


