@model IEnumerable<CatsAndDogs_project.Models.AdoptionDays>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href="~/css/adaption_date_2.css" rel="stylesheet" />
</head>

<h1>ימי אימוץ קורבים</h1>

<p>
    <a class="create_btn" asp-action="Create">יום אימוץ חדש</a>
</p>

<form asp-action="Search" class="search">
    <input name="queryDate" placeholder="הקלד תאריך לחיפוש..." autocomplete="off" />
    <input name="queryLocation" placeholder="הקלד מיקום לחיפוש..." autocomplete="off" />
    <input id="sub_search" type="submit" value="חיפוש" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateandTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateandTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    <div class="options">
                        @*<a id="info_btn" asp-action="Details" asp-route-id="@item.Id"><i class="material-icons">info_outline</i></a>*@
                        <a id="edit_btn" asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i></a>
                        <a id="delete_btn" asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons">close</i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/css/adaption_date.css" rel="stylesheet" />
}*@