@model IEnumerable<CatsAndDogs.Models.User>

@{
    ViewData["Title"] = "Index";
}


<head>
    <link href="~/css/users_index _1.css" rel="stylesheet"/>
</head>

<h1>משתמשים</h1>

<p>
    <a class="create_btn" asp-action="Create">יצירת משתמש חדש</a>
</p>

<form asp-action="Search" class="search">
    <input name="queryUsername" placeholder="הקלד שם משתמש לחיפוש..." autocomplete="off" />
    <input id="sub_search" type="submit" value="חיפוש" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usertype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usertype)
                </td>
                <td>
                    <div class="options">
                        <a id="edit_btn" asp-action="Edit" asp-route-id="@item.UserName"><i class="material-icons">edit</i></a>
                        <a id="delete_btn" asp-action="Delete" asp-route-id="@item.UserName"><i class="material-icons">close</i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



