@model CatsAndDogs_project.Models.GuideDog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GuideDog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageGuied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageGuied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BreedDog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BreedDog.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgLife)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgLife)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Characteristics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Characteristics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Health)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Health)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Training)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Training)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
