@model IEnumerable<CatsAndDogs_project.Models.GuideDog>

@{
    ViewData["Title"] = "JoinDogBreed";
}

<head>
    <link href="~/css/guide_index.css" rel="stylesheet" />
</head>

<h1> טלת גוין חדשה </h1>


@*<div class="guide-head">
    <div class="guide-right">
        <h1>מדריך כלבים</h1>
        <p class="sub-guide">
            רוצים לאמץ כלב ולא יודעים מה מתאים לכם? הצטרף חבר חדש למשפחה ואתם רוצים להכיר אותו יותר ? הגעתם למקום הנכון!
            במדריך שלנו תוכלו למצוא את כל המידע הדרוש לכם על מבחר סוגי כלבים.
            תוכלו לקרוא על האופי המיוחד של כל גזע , על הבעיות הבריאותיות האופניות לו , על אילפו , על מקום גידולו האולטמטיבי ועוד ,
            כל זה על מנת שתוכלו להכיר את האהובים עליכם טוב יותר.
        </p>
        <p>
            <a asp-action="Create">הוסף מדריך נוסף</a>
        </p>
        <form asp-action="Search" class="search">
            <input name="queryBreed" placeholder="הקלד גזע לחיפוש..." autocomplete="off" />
            <input id="sub_search" type="submit" value="חיפוש" />
        </form>
    </div>
    <div class="guide-left">
        <img id="img-head" src="https://static.wixstatic.com/media/11062b_3b0b289dbe5448a088a870b81290b4fc~mv2.jpg/v1/fill/w_640,h_452,al_c,q_80,usm_0.66_1.00_0.01/11062b_3b0b289dbe5448a088a870b81290b4fc~mv2.webp">
    </div>
</div>*@

<!--<div class="container">
    <div class="row">
       
@*<table class="table">
        <thead>
            <tr>
               
                    @Html.DisplayNameFor(model => model.AvgHeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Characteristics)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Health)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Training)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageGuied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BreedDog.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgLife)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvgHeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Characteristics)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Health)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Training)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
