@model CatsAndDogs_project.Models.Nutrition

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href="~/css/delete_2.css" />
</head>

<h1>מחיקת מוצר</h1>

<h3>האם ברצונך למחוק מוצר זה מרשימת המוצרים בוודאות?</h3>

<div class="card col-3" style="width: 18rem; position:inherit">
    <div class="card-body">
        <div class="details">
            <h5 class="card-title-name">שם המוצר:  @Html.DisplayFor(model => model.Name)</h5>
            <div class="feture">
                <h5 class="card-title">מתאים ל: </h5>
            </div>
            <span> @Html.DisplayFor(modle => modle.matching)</span>
            <div class="feture">
                <h5 class="card-title">תיאור: </h5>
            </div>
            <span> @Html.DisplayFor(modle => modle.Description)</span>
            <div class="feture">
                <h5 class="card-title">יתרונות: </h5>
            </div>
            <span> @Html.DisplayFor(modle => modle.Advantages)</span>
            <div class="feture">
                <h5 class="card-title">מחיר: </h5>
            </div>
            <span> @Html.DisplayFor(modle => modle.Price)</span>
        </div>
        <div class="img">
            <img src=@Html.DisplayFor(model => model.Image) class="card-img">
            <div class="options">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="מחיקה" class="btn btn-danger" />
                    <a asp-action="Index"><i class="material-icons">keyboard_backspace</i></a>
                </form>
            </div>
        </div>
    </div>
</div>

